body {
	text-align:center;
	font-family:Verdana;
	
}


.menu {
  position: fixed;
  z-index: 999999;
  color: #000;
  margin-left:-10px;
  margin-top:-10px;
  padding-top:10px;
  background: #FFF;
  width: 100%;
  text-align: center;
  border-bottom: thin solid #9E9E9E;
}

.menu div {
	padding-left:50px;
	position:absolute;
	font-size:50px;
	float:left;
    text-align: center;
}

.menu li {
  font-size:14px;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #9E9E9E;
  font-weight:bold;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

.menu li a:hover {
  color: #C00;
}

h1 {
	color:#03A9F5;	
}

.menu ul {
	position: relative;
	float: right;
}

.horizontal-wrapper {
	vertical-align:center;
	clear:both;
	background-color:blue;
}
/* Prevent the slideshow from flashing on load */
    #slides {
      display: none
    }

    /* Center the slideshow */
    .container {
      margin: 0 auto
    }

    /* Show active item in the pagination */
    .slidesjs-pagination .active {
      color:red;
    }

    /* Media quires for a responsive layout */

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 10px;
        padding-right: 10px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }

.overlap {
    position: absolute;
    left: 0;
	top: 0;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
	height:480;
	width:640;
    background: #FFFFFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.raytrace{	
	background-color:#00E676;
	font-family:Verdana;
	font-size:20px;
	color: #FFF;
	padding:5px;	
}

.Setup{	
	background-color:#E53935;
	font-family:Verdana;
	font-size:20px;
	color: #FFF;
	padding:5px;	
}

