body {
	text-align:center;
	font-family:Verdana;
	
}

.menu {
  position: fixed;
  z-index: 999999;
  color: #000;
  margin-left:-10px;
  margin-top:-10px;
  padding-top:10px;
  background: #FFF;
  width: 100%;
  text-align: center;
  border-bottom: thin solid #9E9E9E;
}

.menu div {
	padding-left:50px;
	position:absolute;
	font-size:50px;
	float:left;
    text-align: center;
}

.menu li {
  font-size:14px;
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.menu li a {
  text-decoration: none;
  color: #9E9E9E;
  font-weight:bold;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

.menu li a:hover {
  color: #C00;
}

.menu ul {
	position: relative;
	float: right;
}

.horizontal-wrapper {
	vertical-align:center;
	clear:both;
	background-color:blue;
}
.round-button {
	width:150px;
	float:left;
}
.round-button-circle {
	width: 100%;	
	float:left;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:10px solid #cfdcec;
    overflow:hidden;
    
    background: #4679BD; 
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
    display:block;
	float:center;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    
	text-align:center;
	color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

.overlap {
    position: absolute;
    left: 0;
	top: 0;
}

#overlay {
    position: absolute;
    left: 0;
    top: 0;
	height:480;
	width:640;
    background: #FFFFFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.raytrace{	
	background-color:#00E676;
	font-family:Verdana;
	font-size:20px;
	color: #FFF;
	padding:5px;	
}

.Setup{	
	background-color:#E53935;
	font-family:Verdana;
	font-size:20px;
	color: #FFF;
	padding:5px;	
}

